@mixin flexDisplay( $direction, $justifyContent) {
  display: flex;
  justify-content: $justifyContent;
  flex-direction: $direction;
}

@mixin border() {
  border: 1px solid $fontColor;
  border-radius: 5px;
}

* {
  margin: 0;
  padding: 0;
}
